@page
@model TestLogin.Pages.LoginModel
@{
}
@using Microsoft.AspNetCore.Http;

<form method="post">
    Login : <input type="text" name="log" /><br />
    Password: <input type="text" name="pwd" />
    <input type="submit" value="Login" />
</form>

<h1>@Model.Message</h1>

@if (Model.LoginState != null)
{
    <h1> Hello @HttpContext.Session.GetString("login")</h1>
}
